.c-grid {
  margin: 0;
  display: flex;
  box-sizing: border-box;

  &__item {
    box-sizing: border-box;
  }

  &--direction-row {
    flex-direction: row;
  }
  
  &--direction-row-reverse {
    flex-direction: row-reverse;
  }
  
  &--direction-column {
    flex-direction: column;
  
    .c-grid__item {
      max-width: none;
    }
  }
  
  &--direction-column-reverse {
    flex-direction: column-reverse;
  
    .c-grid__item {
      max-width: none;
    }
  }
  
  &--spacing-1 {
    .c-grid__item {
      padding-left: 8px;
      padding-top: 8px;
    }
  }
  
  &--spacing-2 {
    .c-grid__item {
      padding-left: 16px;
      padding-top: 16px;
    }
  }
  
  &--spacing-3 {
    .c-grid__item {
      padding-left: 24px;
      padding-top: 24px;
    }
  }
  
  &--spacing-4 {
    .c-grid__item {
      padding-left: 32px;
      padding-top: 32px;
    }
  }
  
  &--spacing-5 {
    .c-grid__item {
      padding-left: 40px;
      padding-top: 40px;
    }
  }
  
  &--spacing-6 {
    .c-grid__item {
      padding-left: 48px;
      padding-top: 48px;
    }
  }
  
  &--spacing-7 {
    .c-grid__item {
      padding-left: 56px;
      padding-top: 56px;
    }
  }
  
  &--spacing-8 {
    .c-grid__item {
      padding-left: 64px;
      padding-top: 64px;
    }
  }
  
  &--spacing-9 {
    .c-grid__item {
      padding-left: 72px;
      padding-top: 72px;
    }
  }
  
  &--spacing-10 {
    .c-grid__item {
      padding-left: 80px;
      padding-top: 80px;
    }
  }
  
  &--spacing-11 {
    .c-grid__item {
      padding-left: 88px;
      padding-top: 88px;
    }
  }
  
  &-spacing-12 {
    .c-grid__item {
      padding-left: 96px;
      padding-top: 96px;
    }
  }
  
  &--spacing-row-1 {
    .c-grid__item {
      padding-top: 8px;
    }
  }
  
  &--spacing-row-2 {
    .c-grid__item {
      padding-top: 16px;
    }
  }
  
  &--spacing-row-3 {
    .c-grid__item {
      padding-top: 24px;
    }
  }
  
  &--spacing-row-4 {
    .c-grid__item {
      padding-top: 32px;
    }
  }
  
  &--spacing-row-5 {
    .c-grid__item {
      padding-top: 40px;
    }
  }
  
  &--spacing-row-6 {
    .c-grid__item {
      padding-top: 48px;
    }
  }
  
  &--spacing-row-7 {
    .c-grid__item {
      padding-top: 56px;
    }
  }
  
  &--spacing-row-8 {
    .c-grid__item {
      padding-top: 64px;
    }
  }
  
  &--spacing-row-9 {
    .c-grid__item {
      padding-top: 72px;
    }
  }
  
  &--spacing-row-10 {
    .c-grid__item {
      padding-top: 80px;
    }
  }
  
  &--spacing-row-11 {
    .c-grid__item {
      padding-top: 88px;
    }
  }
  
  &--spacing-row-12 {
    .c-grid__item {
      padding-top: 96px;
    }
  }
  
  &--spacing-column-1 {
    .c-grid__item {
      padding-left: 8px;
    }
  }
  
  &--spacing-column-2 {
    .c-grid__item {
      padding-left: 16px;
    }
  }
  
  &--spacing-column-3 {
    .c-grid__item {
      padding-left: 24px;
    }
  }
  
  &--spacing-column-4 {
    .c-grid__item {
      padding-left: 32px;
    }
  }
  
  &--spacing-column-5 {
    .c-grid__item {
      padding-left: 40px;
    }
  }
  
  &--spacing-column-6 {
    .c-grid__item {
      padding-left: 48px;
    }
  }
  
  &--spacing-column-7 {
    .c-grid__item {
      padding-left: 56px;
    }
  }
  
  &--spacing-column-8 {
    .c-grid__item {
      padding-left: 64px;
    }
  }
  
  &--spacing-column-9 {
    .c-grid__item {
      padding-left: 72px;
    }
  }
  
  &--spacing-column-10 {
    .c-grid__item {
      padding-left: 80px;
    }
  }
  
  &--spacing-column-11 {
    .c-grid__item {
      padding-left: 88px;
    }
  }
  
  &--spacing-column-12 {
    .c-grid__item {
      padding-left: 96px;
    }
  }

  &--xs-1 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  
  &--xs-2 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  
  &--xs-3 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  
  &--xs-4 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  
  &--xs-5 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  
  &--xs-6 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  
  &--xs-7 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  
  &--xs-8 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  
  &--xs-9 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  
  &--xs-10 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  
  &--xs-11 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  
  &--xs-12 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .c-grid {
    &--sm-1 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 8.333333%;
      max-width: 8.333333%;
    }

    &--sm-2 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 16.666667%;
      max-width: 16.666667%;
    }

    &--sm-3 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 25%;
      max-width: 25%;
    }

    &--sm-4 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 33.333333%;
      max-width: 33.333333%;
    }

    &--sm-5 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 41.666667%;
      max-width: 41.666667%;
    }

    &--sm-6 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 50%;
      max-width: 50%;
    }

    &--sm-7 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 58.333333%;
      max-width: 58.333333%;
    }

    &--sm-8 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 66.666667%;
      max-width: 66.666667%;
    }

    &--sm-9 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 75%;
      max-width: 75%;
    }

    &--sm-10 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 83.333333%;
      max-width: 83.333333%;
    }

    &--sm-11 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 91.666667%;
      max-width: 91.666667%;
    }

    &--sm-12 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .c-grid {
    &--md-1 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 8.333333%;
      max-width: 8.333333%;
    }

    &--md-2 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 16.666667%;
      max-width: 16.666667%;
    }

    &--md-3 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 25%;
      max-width: 25%;
    }

    &--md-4 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 33.333333%;
      max-width: 33.333333%;
    }

    &--md-5 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 41.666667%;
      max-width: 41.666667%;
    }

    &--md-6 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 50%;
      max-width: 50%;
    }

    &--md-7 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 58.333333%;
      max-width: 58.333333%;
    }

    &--md-8 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 66.666667%;
      max-width: 66.666667%;
    }

    &--md-9 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 75%;
      max-width: 75%;
    }

    &--md-10 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 83.333333%;
      max-width: 83.333333%;
    }

    &--md-11 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 91.666667%;
      max-width: 91.666667%;
    }

    &--md-12 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1101px) {
  .c-grid {
    &--lg-1 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 8.333333%;
      max-width: 8.333333%;
    }

    &--lg-2 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 16.666667%;
      max-width: 16.666667%;
    }

    &--lg-3 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 25%;
      max-width: 25%;
    }

    &--lg-4 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 33.333333%;
      max-width: 33.333333%;
    }

    &--lg-5 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 41.666667%;
      max-width: 41.666667%;
    }

    &--lg-6 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 50%;
      max-width: 50%;
    }

    &--lg-7 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 58.333333%;
      max-width: 58.333333%;
    }

    &--lg-8 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 66.666667%;
      max-width: 66.666667%;
    }

    &--lg-9 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 75%;
      max-width: 75%;
    }

    &--lg-10 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 83.333333%;
      max-width: 83.333333%;
    }

    &--lg-11 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 91.666667%;
      max-width: 91.666667%;
    }

    &--lg-12 {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}