.c_footer {
  padding: 32px;
  border-top: 1px solid #E4E8F7;

  span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #A3ABCC;
  }
}